/* El formulario para llevar un control sobre los asistentes  de una fiesta, que genera una lista con la opción de eliminar a algún invitado  */

body {
  background: #f0c27b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f8fc7b33,
    #7bfafc2d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f8fc7b33,
    #7bfafc2d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.formulario {
  margin-top: 2rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 2.5rem;
  background-color: #7bfafc52;
  box-shadow: 1rem 1rem 5rem 2rem #00000037;
}

.formulario input,
select {
  border: none;
  height: 30px;
  border-radius: 5px;
}

.error {
  background-color: #c132ff37;
  border-radius: 1.5rem;
  font-size: x-large;
  padding: 0.5rem;
  justify-content: center;
  width: auto;
  margin-bottom: 0rem;
}

.elemento-lista {
  color: #000000;
  font-family: Verdana;
  margin: 10px 0;
  border: 5px;
  border-radius: 2.5rem;
  padding: 2rem;
  width: 308px;
  margin: 20px;
  background-color: #f8fc7b47;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #0000001a;
  transform: translateX(437px);
}

.elemento-lista input {
  border: none;
  background: none;
  color: #312f31;
  font-family: sans-serif;
  margin: 10px 0;
  font-size: 16px;
}
/* agregue tipos de letras  */
h1,
h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: -webkit-center;
  font-style: oblique;
}

.formulario,
.error,
.formulario input {
  font-family: sans-serif;
  text-align: -webkit-center;
  font-size: large;
}
.alerta {
  margin-bottom: 0px;
}
.error li {
  list-style: none;
}
#boton-borrar {
  color: #000000;
  background-color: #7bfafc52;
  border: 0;
  padding: 1rem;
  border-radius: 1.5rem;
}
